@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Notícias <small>Todos os direitos reservados</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Notícias</li>
            </ol>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-8">
            <h3>Segue abaixo as principais notícias do momento:</h3>
            <p>Aqui temos as principais compartilhadoras de informações sobre o coronavírus no Brasil, coletamos algumas informações da <a href="https://g1.globo.com" target="_blank">G1</a> e <a href="https://www.r7.com" target="_blank">R7</a></p>
            <div class="section">
                <h2><a href="https://g1.globo.com" target="_blank">Notícias na G1</a></h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>Sobre o último mês:</h3>
                            <hr>
                        </div>
                        <div>
                            <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/05/27/casos-de-coronavirus-e-numero-de-mortes-no-brasil-em-27-de-maio.ghtml" target="_blank">
                                <h3>Quantidade de mortes no país representado pelo gráfico:</h3>
                                <p>Brasil se aproxima de 26 mil mortes por coronavírus[...]</p>
                            </a>
                            <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/05/27/casos-de-coronavirus-e-numero-de-mortes-no-brasil-em-27-de-maio.ghtml" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/tabela_corona1.jpg" width="400">
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="https://g1.globo.com/globonews/jornal-das-dez/video/brasil-e-8o-pais-com-mais-pessoas-recuperadas-da-covid-19-8511104.ghtml" target="_blank">
                                <h3>Pessoas recuperadas do Corona:</h3>
                                <p>Brasil é 8º país com mais pessoas recuperadas da Covid-19</p>
                            </a>
                            <a href="https://g1.globo.com/globonews/jornal-das-dez/video/brasil-e-8o-pais-com-mais-pessoas-recuperadas-da-covid-19-8511104.ghtml" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/brasilg1.png" width="400">
                            </a>
                            <a href="https://g1.globo.com/busca/?q=pessoas+recuperadas&page=1" target="_blank">
                                <h2>Saiba mais sobre cada estado na pesquisa do g1:</h2>
                            </a>
                            <a href="https://g1.globo.com/busca/?q=pessoas+recuperadas&page=1" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/pesquisag1.png" width="400">
                            </a>
                            <hr />
                            <a href="https://g1.globo.com/sp/ribeirao-preto-franca/noticia/2020/05/28/numeros-de-furtos-e-roubos-caem-e-homicidios-aumentam-durante-quarentena-em-ribeirao-preto-sp.ghtml" target="_blank">
                                <h3>Furtos com o coronavírus</h3>
                                <p>Em Franca (SP), não houve mudança em relação ao número de homicídios, enquanto furtos e roubos reduziram, de acordo com a SSP. Especialista atribui queda à redução de pessoas nas ruas[...]</p>
                            </a>
                            <a href="https://g1.globo.com/sp/ribeirao-preto-franca/noticia/2020/05/28/numeros-de-furtos-e-roubos-caem-e-homicidios-aumentam-durante-quarentena-em-ribeirao-preto-sp.ghtml" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/ribeiraog1.png" width="400">
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="section">
                <h2><a href="https://www.r7.com" target="_blank">Notícias no R7</a></h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>Sobre o último mês:</h3>
                            <hr>
                        </div>
                        <div>
                            <a href="https://novacanaa.colabore.org/sosfamiliasdosertao/people/new" target="_blank">
                                <h3>Um compartilhamento importante: famílias no sertão. Faça a sua doação para a campanha SOS Famílias do Sertão.</h3>
                                <p>Essas famílias precisam de ajuda, doe uma pequena quantia para poder ajudar.</p>
                            </a>
                            <a href="https://novacanaa.colabore.org/sosfamiliasdosertao/people/new" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/familiadosertao.jpg" width="400">
                            </a>
                            <hr />
                            <a href="https://noticias.r7.com/sao-paulo/covas-sao-paulo-nao-pode-reabrir-para-depois-voltar-atras-28052020" target="_blank">
                                <h3>São Paulo não pode reabrir para depois voltar atrás</h3>
                                <p>O prefeito da cidade de São Paulo, Bruno Covas, alertou nesta quinta-feira (28) que a possível abertura de alguns setores da economia a partir de meados de junho não pode ser vista como o fim da circulação do vírus[...]</p>
                            </a>
                            <a href="https://noticias.r7.com/sao-paulo/covas-sao-paulo-nao-pode-reabrir-para-depois-voltar-atras-28052020" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/brunocovas.jpeg" width="400">
                            </a>
                            <hr />
                            <a href="https://noticias.r7.com/saude/mais-de-50-dos-pacientes-com-covid-19-no-brasil-ja-se-curaram-14042020" target="_blank">
                                <h3>Mais de 50% dos pacientes com covid-19 no Brasil já se curaram</h3>
                                <p>Cálculos do Ministério da Saúde, que consideram apenas casos confirmados, indicam que 14.026 pessoas se recuperaram da doença até esta terça[...]</p>
                            </a>
                            <a href="https://noticias.r7.com/saude/mais-de-50-dos-pacientes-com-covid-19-no-brasil-ja-se-curaram-14042020" target="_blank">
                                <img class="img-responsive img-home-portfolio" src="/curar7.jpeg" width="400">
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div>
    </div>
</div>