@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sobre
                <small>Quem somos nós!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/sobre_logo_drummond.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Olá bem-vindos ao nosso projeto do TGI COVID-19 2020</h2>
            <p>TGI COVID-19 2020.</p>
            <p>O Nosso projeto basicamente reuni informações dentre os melhores sites noticíados sobre o coronavírus, a inteção dele é informar, ajudar, noticíar e estimular a boa educação sobre higiene e saúde para a população.</p>

        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Equipe de desenvolvimento:</h2>
        </div>
        <div class="col-sm-4">
            <img src="/eduardor_foto.jpg" class="img-responsive">
            <h3>
                Eduardo Ribeiro Fernandes
                <small><p></p>Eduardo Ribeiro</small>
            </h3>
            <h4>Redes Sociais:</h4>
            <a href="https://github.com/matrixsuporte">GitHub</a><br />
            <a href="https://www.linkedin.com/in/eduardo-ribeiro--/" target="_blank">Linkedin</a>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="/lucasr_foto.jpg" class="img-responsive">
            <h3>
                Lucas Recine Fernandes
                <small><p></p>Lucas Recine</small>
            </h3>
            <h4>Redes Sociais:</h4>
            <a href="https://github.com/lrecine" target="_blank">GitHub</a><br />
            <a href="https://www.facebook.com/lucas.recinefernandes/" target="_blank">Facebok</a><br />
            <a href="https://instagram.com/lukethluk" target="_blank">Instagram</a><br />
            <a href="https://www.linkedin.com/in/lucas-recine-23a5b0174/" target="_blank">Linkedin</a>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="/lucass_foto.jpg" class="img-responsive">
            <h3>
                Lucas Silva Ferreira dos Santos
                <small><p></p>Lucas Silva</small>
            </h3>
            <h4>Redes Sociais:</h4>
            <a href="https://github.com/Lukinhassf" target="_blank">GitHub</a><br />
            <a href="https://www.facebook.com/profile.php?id=100007819059327" target="_blank">Facebook</a><br />
            <a href="https://www.linkedin.com/in/lucas-silva-54b6551a2/" target="_blank">Linkedin</a>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>